{{ $active := .Get "active" | default "false" }}
{{ $id := .Get "id" }}
<li class="nav-item">
    <a class='nav-link{{ if eq $active " true" }} active{{ end }}' id="{{ $id }}-tab" data-toggle="tab"
        href="{{ .Page.RelPermalink }}?tab={{ $id }}" role="tab" aria-controls="{{ $id }}" aria-selected="{{ $active }}">{{ .Get "title" }}</a>
</li>
{{ $content := slice }}
{{ $content = $content | append (printf `<div class="tab-pane fades" id="%s" role="tabpanel" aria-labelledby="%s-tab">`
    (cond (eq $active "true") " show active" "") $id $id) }}
    {{ $content = $content | append (.Inner | markdownify) }}
    {{ $content = $content | append "</div>" }}
{{ .Page.Scratch.Add "tabContents" (delimit $content "") }}
